/* Set height of body and the document to 100% to enable "full page tabs" */
body, html {
  height: 100%;
  margin: 0;
  font-family: Arial;
}

/* Style tab links */
.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
}

.tablink:hover {
  background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: whitesmoke;
  display: none;
  padding: 100px 20px;
  height: 100%;
}

#Docker {background-color: #3282B8;}
#Linux {background-color: #C63C51;}
#Contact {background-color: #704264;}
#About {background-color: #A76F6F;}